.Impression_body
  = form_for (@impression) do |f|
    .Form-group
      %label ゲームタイトル
      = f.label :*, class: "Prerequisite" 
      = f.text_field :title 

    .Form-group
      %label 感想 
      %label 1~1000文字まで入力できます。
      = f.label :*, class: "Prerequisite"
      = f.text_area :text
    .Btn
      = f.submit '投稿する', class:'btn'

  
  