//投稿すべてを表示する
.Top
  = render "header"
.Head
  .Body
    .Contents.row
      - @impressions.each do |impression|
        .Content_post
          .Content_post__nickname
            %label 投稿者
            %p=impression.user.nickname
            //=link_to(impression.user.nickname,"/impressions/#{impression.id}")  

          .Content_post__title
            %label ゲームタイトル
            %p=impression.title
          .Content_post__text
            %label 感想
            %p=simple_format(impression.text)
      
        .Content.btn
        - if impression.user_id == current_user.id
          = link_to "編集する","/impressions/#{impression.id}/edit", method: :get
          = link_to "削除する","/impressions/#{impression.id}", method: :delete
          
  .Footer
    = link_to "投稿フォームへ", new_impression_path

