-# ログイン画面です。
.Body
  .Contents
    %h1 ログイン
    %hr.Borderline
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
      .MainField
        .Field
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .Field
          = f.label :パスワード
          %br/
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .Field
            = f.check_box :remember_me
            = f.label :記憶しますか
        .Form
          = f.submit "ログイン"
          = link_to "投稿一覧へ", impressions_path, class:'back-btn'
      
  .Footer



